@charset "UTF-8";

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 60px;
}

.bg {
    /* background-color: #F3F3FC; */
    background-image: url(../img/bg4.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.shadow {
    box-shadow: 10px 9px 12px 0px rgba(17, 17, 26, 0.18);
}

li {
    list-style: none;
}

.site-title {
    font-size: 32px;
    font-family: 'Orelega One', cursive;
    color: black;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

.site-title a {
    color: black;
    text-shadow: 0 4px 6px #fff;
}

.section-title {
    font-size: 40px;
    text-align: center;
    position: relative;
    margin-bottom: 100px;
    text-shadow: 2px 4px 6px #adadad;
    font-family: 'Fanwood Text', serif;
    letter-spacing: 4px;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

.section-title::after {
    content: "";
    width: 250px;
    position: absolute;
    height: 2px;
    left: 50%;
    transform: translate(-50%);
    bottom: -20px;
    background: rgba(169, 70, 56, 1);
}

.sub-title {
    font-size: 28px;
    color: rgb(80, 76, 72);
    margin-bottom: 40px;
    font-family: 'Fanwood Text', serif;
}

.text {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Fanwood Text', serif;
}

p {
    color: rgb(80, 76, 72);
    line-height: 2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
}


section {
    padding: 90px 0;
}

.btn {
    text-align: center;
}

.btn a {
    color: white;
    background-color: rgb(28, 20, 11);
    border: 3px solid rgb(28, 20, 11);
    border-radius: 15px;
    padding: 10px 60px;
    transition: 0.5s;
    font-family: 'Fanwood Text', serif;
    font-size: 20px;
}

.btn a:hover {
    color: rgb(28, 20, 11);
    background-color: white;
    font-weight: bold;
}

.submit {
    color: white;
    background-color: rgb(28, 20, 11);
    border: 3px solid rgb(28, 20, 11);
    border-radius: 15px;
    padding: 10px 80px;
    transition: 0.5s;
    font-family: 'Fanwood Text', serif;
}

.submit:hover {
    color: rgb(28, 20, 11);
    background-color: white;
    font-weight: bold;
}

.fadein {
    width: 100%;
    opacity: 0;
    transition: 0.8s;
    transform: translateY(30px);
}

/* --------------------
ヘッダー
-------------------- */

header {
    background-color: rgba(142, 142, 130, 0.4);
    padding: 20px 0;
    z-index: 10;
    position: absolute;
    top: 0;
    width: 100%;
}

#top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    display: flex;
    font-family: 'Fanwood Text', serif;
}

header ul li {
    margin-left: 30px;
}

.header-menu a {
    color: black;
    font-weight: bold;
    text-shadow: 0 4px 6px #fff;
    font-size: 20px;
}

header li a:hover {
    opacity: 0.7;
}


.toggle-btn {
    background-color: rgba(142, 142, 130, 0.4);
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 30;
}

.toggle-btn:hover {
    opacity: 0.7;
}

.toggle-btn span {
    height: 3px;
    width: 40px;
    background-color: white;
    position: absolute;
    display: block;
    transition: 0.5s;
    left: 50%;
    transform: translate(-50%);
}

.toggle-btn span:nth-child(1) {
    top: 19px;
}

.toggle-btn span:nth-child(2) {
    top: 30px;
}

.toggle-btn span:nth-child(3) {
    bottom: 17px;
}

.open .toggle-btn {
    z-index: 30;
}

.open .toggle-btn span {
    background-color: #fff;
}

.open .toggle-btn span:nth-child(1) {
    transform: rotate(-45deg);
    top: calc(40px / 1.41);
    left: 18%;
}

.open .toggle-btn span:nth-child(2) {
    display: none;
}

.open .toggle-btn span:nth-child(3) {
    transform: rotate(45deg);
    bottom: calc(40px / 1.41);
    left: 18%;
}


#nav-menu {
    display: block;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100%;
    padding: 90px 30px 0 30px;
    background-color: black;
    width: 300px;
    z-index: 30;
    font-size: 16px;
    transition: 0.5s;
    opacity: 0;
}

.open #nav-menu {
    right: 0;
    opacity: 1;
}

#nav-menu ul {
    margin-bottom: 40px;
    text-shadow: 0 4px 6px #fff;
    font-family: 'Fanwood Text', serif;
}

#nav-menu ul li {
    padding: 10px 0px;
    border-bottom: solid 1px white;
}

#nav-menu .header-menu li:last-child {
    border-bottom: solid 1px white;
}

#nav-menu .sns li {
    padding: 10px 0px;
}

#nav-menu a {
    color: white;
    text-decoration: none;
}


.open .mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: 20;
}


/* ----------------
メインビジュアル
---------------- */

.mainvisual {
    height: 100vh;
    width: 100%;
}

.fade li {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    animation: slideAnime 24s ease 0s infinite;
}

.fade li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fade li::after {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0px 0px 15px 2px rgb(255, 255, 255);
    position: absolute;
}

.fade li:nth-of-type(1) {
    animation-delay: 0s
}

.fade li:nth-of-type(2) {
    animation-delay: 6s
}

.fade li:nth-of-type(3) {
    animation-delay: 12s
}

.fade li:nth-of-type(4) {
    animation-delay: 18s
}

@keyframes slideAnime {
    0% {
        opacity: 0;
    }

    6% {
        opacity: 1;
    }

    19% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


/* -------------
ABOUT
------------- */

.about-contents {
    display: flex;
    justify-content: space-between;
}

.about-img {
    width: 60%;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right top;
    text-align: right;
}

.about-text {
    width: 40%;
    padding-top: 10%;
    padding-left: 5%;
}


/* -------------
PRODUCT
------------- */

.chair {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.chair-img {
    position: relative;
    width: 60%;
}

.img1 {
    position: absolute;
    width: 70%;
    top: 0;
    left: 30%;
    z-index: 5;
}

.img2 {
    width: 50%;
    margin-top: 150px;
    /* position: absolute; */
    /* top: 50%; */
}

.chair-text {
    width: 35%;
    margin-top: 25%;
}

.chair-text h3 {
    margin-bottom: 20px;
}



.sofa {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.sofa-text {
    width: 40%;
    margin-top: 60px;
    margin-right: 40px;
}

.sofa-img {
    width: 60%;
}

.sofa-img img {
    width: 100%;
}

.lightning {
    display: flex;
    justify-content: space-between;
    margin-bottom: 300px;
}

.lightning-img {
    position: relative;
    width: 60%;
}

.img3 {
    width: 60%;
    z-index: 5;
    position: absolute;
}

.img4 {
    width: 50%;
    position: absolute;
    top: 70%;
    left: 40%;
}

.lightning-text {
    width: 40%;
    margin-top: 100px;
}


/* -------------
DESGIN
------------- */
.design-contents {
    display: flex;
    margin-bottom: 120px;
}

.design-text {
    margin: 15% 60px 0px 0px;
    width: 40%;
}

.design-img {
    width: 60%;
}

.design-img img {
    width: 100%;
    margin-bottom: 20px;
}

.works {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px 20px;
    margin-bottom: 70px;
}

.works-contents a {
    transition: 0.5s;
}

.works-contents a:hover {
    opacity: 0.7;
}

.works-contents-img {
    width: 100%;
}

.works p {
    font-family: 'Fanwood Text', serif;
}



/* -------------
NEWS
------------- */

.news-list {
    margin-bottom: 60px;
    font-family: 'Fanwood Text', serif;
}

.news-list a {
    text-decoration: none;
    color: rgb(80, 76, 72);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 18px;
    margin-bottom: 30px;
    transition: 0.5s;
}

.news-list a:hover {
    font-weight: bold;
    font-size: 20px;
}


.news-list dt {
    width: 10%;
    border-bottom: 1px solid;
    padding: 5px 0;
    text-align: left;
}

.news-list dd {
    width: 90%;
    border-bottom: 1px solid;
    padding: 5px 0;
    padding-left: 20px;
}

/* -------------
SHOP
------------- */

.shop-info {
    display: flex;
    margin-bottom: 20px;
}

.shop-info img {
    width: 50%;
    object-fit: cover;
}

.shop-info-text {
    margin-top: 50px;
    margin-left: 50px;
    font-size: 18px;
}

.map iframe {
    width: 100%;
}

/* -------------
CONTACT
------------- */

.contact-text {
    text-align: center;
}

.contact-text .text {
    font-size: 24px;
}

.contact-wrapper {
    width: 100%;
    padding: 80px 30px;
}

.contact-wrapper p {
    font-size: 20px;
    margin-right: 30px;
    width: 20%;
    font-family: 'Fanwood Text', serif;
}


.form {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.sub-text1,.sub-text2{
    position: relative;
}

.sub-text1::after{
    content: "※確認用";
    position: absolute;
    font-size: 14px;
    bottom: -10px;
    left: 0px;
}

.sub-text2::after{
    content: "※複数選択可";
    position: absolute;
    font-size: 14px;
    bottom: -18px;
    left: 0px;
}

.message {
    height: 200px;
}

.contact-form {
    border: 1px solid rgb(219, 219, 249);
    background-color: white;
    width: 70%;
}

input {
    padding: 10px;
}

.checkbox-inner {
    text-align: left;
    width: 70%;
    font-family: 'Fanwood Text', serif;
}

label{
    display: inline-block;
    margin-right: 30px;
}

textarea {
    padding: 10px;
    height: 100%;
}



/* -------------
フッター
------------- */

footer {
    background-color: rgb(20, 20, 20);
    color: white;
    padding-top: 40px;
    padding-bottom: 10px;
}

footer a {
    color: white;
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.footer-title a {
    font-size: 32px;
    font-family: 'Orelega One', cursive;
}

.footer-menu {
    display: flex;
    justify-content: center;
    text-align: center;
}

footer li {
    padding: 0 20px;
    border-right: 1px solid white;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Fanwood Text', serif;
}

footer li:last-child {
    border-right: none;
}


.SNS-list {
    display: flex;
    color: white;
    align-items: center;
}

.SNS-list li{
    vertical-align: bottom;
}

.sns-icon{
    width: 20px;
}

.copy-right {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
}



.top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 8;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-color: red;
    background: rgb(100, 100, 100, 0.5);
}

.top-btn::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 10px 7px;
    border-color: transparent transparent rgb(200, 200, 200) transparent;
    top: -38%;
    left: 32%;
    position: relative;
}


/* ====================
レスポンシブ
==================== */

@media (max-width:960px){

/* ====================
共通
==================== */

    .wrapper {
        padding: 0 5%;
    }

    .section-title {
        margin-bottom: 60px;
    }

    .sub-title {
        margin-bottom: 20px;
    }

    section {
        padding: 50px 0;
    }

/* ====================
ヘッダー
==================== */

    header {
        padding: 10px 0;
    }

    .header-menu {
        display: none;
    }


    .toggle-btn {
        width: 40px;
        height: 40px;
    }

    .toggle-btn span {
        height: 2px;
        width: 30px;
        transition: 0.5s;
        left: 50%;
        transform: translate(-50%);
    }
    
    .toggle-btn span:nth-child(1) {
        top: 12px;
    }
    
    .toggle-btn span:nth-child(2) {
        top: 20px;
    }
    
    .toggle-btn span:nth-child(3) {
        bottom: 11px;
    }
        
    .open .toggle-btn span:nth-child(1) {
        transform: rotate(-45deg);
        top: calc(26px / 1.41);
        left: 12%;
    }
        
    .open .toggle-btn span:nth-child(3) {
        transform: rotate(45deg);
        bottom: calc(26px / 1.41);
        left: 12%;
    }

/* ====================
ABOUT
==================== */
.about-contents {
    flex-direction: column;
}

.about-img {
    width: 100%;
    text-align: center;
}

.about-img img {
    width: 100%;
    height: 100%;
}

.about-text {
    width: 100%;
    padding-top: 20px;
    padding-left: 0;
}

/* ====================
PRODUCT
==================== */

.chair {
    flex-direction: column;
    /* justify-content: space-between; */
    margin-bottom: 60px;
}

.chair-img {
    position: static;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.img1 {
    position: static;
    width: 60%;
    height: 20%;
    object-fit: cover;
    z-index: 5;
    margin-right: 20px;
}

.img2 {
    width: 30%;
    margin-top: 20px;

}

.chair-text {
    width: 100%;
    margin-top: 0px;
}

.chair-text h3 {
    margin-bottom: 20px;
}



.sofa {
    flex-direction: column-reverse;
}

.sofa-text {
    width: 100%;
    margin-top: 30px;
    margin-right: 0px;
}

.sofa-img {
    width: 100%;
    text-align: center;
}

.sofa-img img {
    width: 100%;
}


.lightning {
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 80px;
}

.lightning-img {
    position: static;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.img3 {
    margin-top: 40px;
    width: 50%;
    z-index: 5;
    position: static;
}

.img4 {
    margin-bottom: 30px;
    width: 45%;
    height: 40%;
    object-fit: cover;
    position: static;
}

.lightning-text {
    width: 100%;
    margin-top: 30px;
}


/* ====================
DESIGN
==================== */

.design-contents {
    flex-direction: column-reverse;
    margin-bottom: 60px;
}

.design-text {
    margin: 30px 0px 0px 0px;
    width: 100%;
}

.design-img {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.design-img img:first-child {
    width: 70%;
    margin-bottom: 0px;
}

.design-img img:last-child {
    width: 28%;
    margin-bottom: 0px;
    object-fit: cover;
}

/* ====================
SHOP
==================== */

.shop-info {
    flex-direction: column;
    margin-bottom: 20px;
}

.shop-info img {
    width: 100%;
    object-fit: cover;
}

.shop-info-text {
    margin-top: 30px;
    margin-left: 0px;
}

/* ====================
CONTACT
==================== */

.contact-wrapper p {
    margin-right: 0;
    width: 100%;
    margin-bottom: 10px;
}

.form {
    width: 100%;
    margin-bottom: 40px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}


.sub-text1::after{
    content: "※確認用";
    position: absolute;
    font-size: 14px;
    top: 8px;
    left: 150px;
}

.sub-text2::after{
    content: "※複数選択可";
    position: absolute;
    font-size: 14px;
    top: 8px;
    left: 170px;
}

.message {
    height: 200px;
}

.contact-form {
    width: 100%;
}

.checkbox-inner {
    width: 100%;
}


/* ====================
フッター
==================== */

footer {
    background-color: rgb(20, 20, 20);
    color: white;
    padding-top: 16px;
    padding-bottom: 10px;
}

footer .wrapper {
    margin-bottom: 10px;
    flex-direction: column;
}

.footer-title{
    margin-bottom: 10px;
}

.footer-menu {
    margin-bottom: 10px;
}

footer li {
    padding: 0 2%;
    font-size: 12px;
    margin-bottom: 10px;
}

footer li:last-child {
    border-right: none;
}

.SNS-list {
    display: flex;
    color: white;
    align-items: center;
}

.SNS-list li{
    vertical-align: bottom;
    padding: 0 20px;
}

.sns-icon{
    width: 20px;
}

}

@media (max-width:810px){

/* ====================
共通
==================== */

.sub-title {
    font-size: 24px;
    color: rgb(80, 76, 72);
    margin-bottom: 30px;
    font-family: 'Fanwood Text', serif;
}

.text {
    font-size: 14px;
}

.news-list a {
    font-size: 16px;
}

.news-list a:hover {
    font-size: 18px;
}

.news-list dd {
    padding-left: 30px;
}

.text {
    font-size: 14px;
}

.contact-text .text {
    font-size: 20px;
}

.contact-wrapper p {
    font-size: 16px;
}

.sub-text1::after{
    font-size: 12px;
    top: 6px;
    left: 120px;
}

.sub-text2::after{
    font-size: 12px;
    top: 6px;
    left: 140px;
}

}

@media (max-width:580px){
    .section-title {
        font-size: 32px;
        margin-bottom: 60px;
    }
    
    .section-title::after {
        width: 180px;
        bottom: -10px;
    }
}

@media (max-width:390px){
    .news-list a {
        font-size: 14px;
        margin-bottom: 20px;
    }
    
    .news-list a:hover {
        font-weight: bold;
        font-size: 16px;
    }

}
